
@import 'style';


*{
    margin: 0;
    padding: 0;
}


.filter-container{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    background-color: $bgYellow;
    border: 2px solid #f3e69d;
    border-radius: 5px;
    padding: 20px 0px;
    .menu{
        display: flex;
        margin-left: 30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: -60%;
            width: 93%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.658);
        }
        h3{
            color: $mainBlue;
            opacity: 75%;
            flex-shrink: 0;
            padding: 0;
        }
        .main-option{
            display: flex;
            list-style-type: none;
            margin: 0 40px;
            max-width: 70%;
            li{
                width: 80px;
                a{
                    text-decoration: none;
                    color: #61b4c5;
                }
            }
        }

    }
    
    .submenu{
        display: flex;
        margin-left: 30px;
        margin-top: 30px;
        h3{
            color: $mainBlue;
            opacity: 75%;
            flex-shrink: 0;
            padding: 0;
            }            
        .sub-option{
            display: flex;
            list-style-type: none;
            margin-left: 40px;
            max-width: 1150px;
            flex-wrap: wrap;
            line-height: 30px;
            margin-top: -7px;
            li{
                width: 80px;
                a{
                    text-decoration: none;
                    color: #61b4c5;
                }
            }
        }
    }
}

.filter-select{
    display: none;
}

h2{
    color: $mainBlue;
    text-align: center;
    margin-top: 40px;
}

.first-card{
    margin: auto;
    margin-top: 30px;
    max-width: 1200px;
    @include card();
    .card-click{
        display: flex;
        .pic{
            width: 54%;
            box-shadow: 0px 4px  4px rgba(0,0,0,0.25);
            border-radius: 10px 0px 0px 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px 0px 0px 10px;
            }
        }
        .first-card-content{
            width: 50%;
            padding: 20px;
            overflow: hidden;
            h3{
                color: $mainBlue;
                opacity: 75%;
                flex-shrink: 0;
                padding: 0;
            }
            .hashtag{
                color: $tagGray;
                margin-top: 10px;
            }
            p{
                margin-top: 40px;
                padding: 0;  
            }
            .joinsite-btn{
                width: 95px;
                margin-left: auto;
                margin-top: 130px;
                .button{
                    padding: 5px;
                    width: 95px;
                    border-radius:18px;
                    color:#383838;
                    background-color:$subYellow;
                    border: none;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }    
    }
}

.card-container{
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 50px;
    .card{
        border-radius: 10px;
        width: 23%;
        display: flex;
        flex-direction: column;
        @include card();
        margin: 0;
        a{
            .pic{
                width: 100%;
                height: 250px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px 10px 0 0;
                    vertical-align: top;
                    object-fit: cover;
                }
            }
            .content{
                padding: 20px;
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                overflow:hidden;
                height: 200px;
                h3{
                    color: $mainBlue;
                    opacity: 75%;
                    flex-shrink: 0;
                    padding: 0;
                }
                .hashtag{
                    color: $tagGray;
                    margin-top: 10px;
                }
                p{
                    margin-top: 20px;
                    flex-grow: 1;
                    padding: 0;
                }
                .joinsite-btn{
                    width: 95px;
                    margin-left: auto;
                    margin-top: 0;
                    .button{
                        padding: 5px;
                        width: 95px;
                        border-radius:18px;
                        color:#383838;
                        background-color:$subYellow;
                        border: none;
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.cart{
    background-color: #F3F3F3;
    width: 330px;
    height: 540px;
    border-top-left-radius:56%;
    border-bottom-left-radius:72%;
    border-top-right-radius:15%;
    border-bottom-right-radius:15%;
    padding-top: 60px;
    position: fixed;
    right: -270px;
    top: 75px;
    transition: all 1s ;
    &.cart-open{
        right: 0;
    }
    .cart-list{
        background-color: #F3F3F3;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 230px;
        height:435px;
        margin-left: 90px;
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgb(236, 236, 236);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(209, 209, 202);

        }
        .item{
            display: flex;
            margin-bottom: 10px;
            width: 200px;
            img{
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
            p{
                margin: auto;
            }
        }
    }
    .sure{
        width: 115px;
        padding-top: 30px;
        margin-left: 170px;
    }
    .confirm-button{
        padding: 10px;
        width: 115px;
        border-radius:18px;
        color:#383838;
        background-color:$subYellow;
        border: none;
        cursor: pointer
    }
    .move-out-button{
        position: absolute;
        top: 45%;
        left: -10%;
        padding: 15px;
        width: 70 px;
        border-radius:50%;
        color:#383838;
        background-color:$subYellow;
        border: none;
        cursor: pointer;
        font-size: 33px;
    }
}


.page {
    text-align: center;
    margin-bottom: 40px;

    button {
        margin: 5px;
        height: 30px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid $linkBlue;
        color: $linkBlue;

        &:nth-child(2) {
            color: white;
            background-color: $linkBlue;
        }
    }

    .prev,
    .next {
        padding: 0 10px;
        @include borderR();
    }

    .pageNo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

@media screen and (max-width:376px) {
    
    .filter-container{
        display: none;
    }
    
    .filter-select {
        background-color: $bgYellow;
        padding: 10px;
        @include borderR();
        margin-top: 50px;

        .selectWrap {
            margin: 20px;

            label {
                color: $mainBlue;
                font-weight: bold;
                // width: 50%;

                select {
                    width: 30%;
                    font-size: 16px;
                    background-color: transparent;
                    color: $linkBlue;
                    margin: 0 10px;
                    padding: 5px 15px;
                    @include borderR();
                    border: 1px solid $linkBlue;

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: rgb(230, 230, 230);
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: rgb(226, 226, 226);
                    }

                }
            }
        }
    }

    //下拉式選單
    .filter-select {
        display: block;
    }
    
    
    h2{
        margin: 30px;
    }
    
    .first-card{
        margin: auto;
        margin-top: 30px;
        max-width: 300px;
        border-radius: 10px;
        border: 1px solid #bebdb7;
        box-shadow: 0px 4px  4px rgba(0,0,0,0.25);
        margin-bottom: 20px;
        .card-click{
            flex-direction: column;
            // align-items: center;
            .pic{
                width: 100%;
                height: 250px;
                box-shadow: 0px 4px  4px rgba(0,0,0,0.25);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 10px 10px 0px 0px;
                }
            }
            .first-card-content{
                width: 100%;
                margin-top: 20px;
                padding: 0px;
                overflow: hidden;
                position: relative;
                h3{
                    padding: 0 10px;
                }
                .hashtag{
                    color: $tagGray;
                    margin-top: 10px;
                    padding: 0 10px;
                }
                p{
                    margin-top: 10px;
                    padding: 0 10px;
                }
                .joinsite-btn{
                    margin-left: 65%;
                    padding: 10px 0;
                    margin-top: 0;
                    .button{
                        padding: 5px;
                        width: 95px;
                        border-radius:18px;
                        color:#383838;
                        background-color:$subYellow;
                        border: none;
                        cursor: pointer
                    }
                }
            }    
        }
    }

    .card-container{
        flex-direction: column;
        max-width: 300px;
        margin: auto;
        margin-top: 0;
        .card{
            border-radius: 10px;
            border: 1px solid #bebdb7;
            box-shadow: 0px 4px  4px rgba(0,0,0,0.25);
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            a{
    
                .pic{
                    width: 100%;
                    height: 250px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 10px 10px 0 0;
                        vertical-align: top;
                        object-fit: cover;
                    }
                }
                .content{
                    margin-top: 20px;
                    padding: 0px;
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    overflow:hidden;
                    height: 200px;
                    h3{
                        padding: 0 10px;
                    }
                    .hashtag{
                        color: $tagGray;
                        margin-top: 10px;
                        padding: 0 10px;
                    }
                    p{
                        margin-top: 20px;
                        flex-grow: 1;
                        padding: 0 10px;
                    }
                    .joinsite-btn{
                        margin-left: 65%;
                        padding: 10px 0;
                        
                    }
                }
            }
        }
    }
    
    .cart{
        background-color: #F3F3F3;
        width: 330px;
        height: 540px;
        border-top-left-radius:56%;
        border-bottom-left-radius:72%;
        border-top-right-radius:15%;
        border-bottom-right-radius:15%;
        padding-top: 60px;
        position: fixed;
        right: -270px;
        top: 75px;
        transition: all 1s ;
        &.cart-open{
            right: 00;
        }
        .cart-list{
            background-color: #F3F3F3;
            overflow-y: scroll;
            overflow-x: hidden;
            width: 230px;
            height:435px;
            margin-left: 90px;
            
            .item{
                display: flex;
                margin-bottom: 10px;
                width: 200px;
                img{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
                p{
                    margin: auto;
                }
            }
        }
        .sure{
            width: 115px;
            padding-top: 30px;
            margin-left: 170px;
        }
        .confirm-button{
            padding: 10px;
            width: 115px;
            border-radius:18px;
            color:#383838;
            background-color:$subYellow;
            border: none;
            cursor: pointer
        }
        .move-out-button{
            position: absolute;
            top: 45%;
            left: -10%;
            padding: 15px;
            width: 70 px;
            border-radius:50%;
            color:#383838;
            background-color:$subYellow;
            border: none;
            cursor: pointer;
            font-size: 33px;
        }
    }

    .cart{
        display: none;
    }

}