@import './style.scss';

h2 {
    color: $mainBlue;
    text-align: center;
}

.container {
    margin: 50px auto;
}

.customized-card {
    display: flex;

    //預覽畫面
    .wrap-preview {
        width: 70%;
        margin: 10px;

        .card-preview {
            height: 450px;
            background-color: #F3F3F3;
            display: flex;
            align-items: center;
            position: relative;
            @include borderR();

            #trashCan {
                width: 50px;
                position: absolute;
                bottom: 25px;
                right: 25px;
            }

            .pic {
                width: 70%;
                margin: 0 auto;
                position: relative;

                img {
                    @include borderR();
                    box-shadow: 3px 3px 10px rgba(180, 179, 139, 0.459);
                }

                .inputText {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, - 50%);
                    width: 400px;
                    height: 230px;
                    overflow: hidden;
                    box-sizing: border-box;
                    padding: 10px;
                    line-height: 16px * 1.5;
                    font-size: 16px;
                    text-align: justify;
                    word-break: break-all;
                    // border: 1px solid gray;            
                    color: $textBlack;
                }

                //盒子位置
                .stickerPos {
                    .box {
                        width: 60px;
                        height: 60px;
                        position: absolute;

                        >img {
                            box-shadow: none;
                        }
                    }

                    .box1 {
                        top: 10px;
                        left: 15px;
                    }

                    .box2 {
                        top: 10px;
                        left: 120px;
                    }

                    .box3 {
                        top: 10px;
                        left: 220px;
                    }

                    .box4 {
                        top: 10px;
                        left: 320px;
                    }

                    .box5 {
                        top: 10px;
                        right: 20px;
                    }

                    .box6 {

                        bottom: 10px;
                        left: 15px;
                    }

                    .box7 {
                        bottom: 10px;
                        left: 120px;
                    }

                    .box8 {
                        bottom: 10px;
                        left: 220px;
                    }

                    .box9 {
                        bottom: 10px;
                        left: 320px;
                    }

                    .box10 {
                        bottom: 10px;
                        right: 20px;
                    }

                    .box11 {
                        bottom: 50%;
                        left: 15px;
                        transform: translateY(50%);
                    }

                    .box12 {
                        bottom: 50%;
                        right: 20px;
                        transform: translateY(50%);
                    }
                }

                .addStickerWrap {
                    .sticker-item {
                        box-shadow: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 15%;
                    }
                }
            }
        }

        //文字盒子
        .write {
            margin-top: 20px;
            @include borderR();


            textarea {
                box-sizing: border-box;
                resize: none;
                width: 100%;
                height: 100px;
                padding: 10px;
                border: 1px solid gray;
                color: $textBlack;
                font-size: 20px;
                white-space: pre;
                @include borderR();

                &::placeholder {
                    font-size: 20px;

                }
            }
        }
    }

    .wrapper {
        width: 40%;
        display: flex;
        margin: 10px;

        .tag-wrapper {
            width: 10%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            cursor: pointer;

            >span {
                display: inline-block;
                box-sizing: border-box;
                width: 100%;
                padding: 20px 10px;
                text-align: center;
                background-color: rgb(231, 231, 231);
                box-shadow: -1px 1px 3px rgba(163, 163, 163, 0.507);
                margin-bottom: 10px;
                font-size: 16px;
                border-radius: 10px 0 0 10px;
                color: $mainBlue;

            }

            .tag-focus {
                background-color: $linkBlue;
                box-shadow: -1px 1px 3px rgba(187, 190, 131, 0.527);
                font-weight: bold;
                color: white;
            }

        }

        .wrap-pattern {
            width: 90%;

            .card-pattern,
            .sticker {
                height: 450px;
                width: 100%;
                overflow-y: scroll;

                background-color: $bgGray;

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-track {
                    background-color: rgb(236, 236, 236);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $linkBlue;
                    border-radius: 10px;
                }

                @include borderR();

                .pic {
                    border: 2px dashed $linkBlue;

                    img {
                        cursor: pointer;
                    }
                }
            }

            .sticker {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                box-sizing: border-box;
                padding: 10px 10px;

                .pic {
                    width: calc(50% - 20px);
                    box-sizing: border-box;
                    padding: 10px;
                    margin: 10px;
                    @include borderR();
                    background-color: rgb(255, 255, 255);

                    &:hover {
                        background-color: $linkBlue;
                    }
                }
            }


            .card-pattern {
                box-sizing: border-box;
                padding: 10px 0;
                display: flex;
                flex-direction: column;


                //選取卡片
                .pic {
                    box-sizing: border-box;
                    width: calc(100% - 40px);
                    margin: 10px 20px;
                    padding: 20px;
                    @include borderR();
                    background-color: rgb(255, 255, 255);

                    &:hover {
                        background-color: $linkBlue;
                    }

                    img {
                        @include borderR();
                    }
                }

                .cardFocus {
                    background-color: $linkBlue;

                }
            }

            //隱藏內容
            .hidden {
                display: none;
            }
        }

        button {
            width: 100%;
            @include borderR();
            // padding-top: 15px;
            // padding-bottom: 15px;
            margin: 20px 0;
            font-size: 18px;
        }



        #open {
            margin-top: -10px;
        }
    }
}


//lightbox
.sendCardLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(173, 173, 173, 0.527);
    display: none;

    .sendCard {
        position: relative;
        box-sizing: border-box;
        width: 25vw;
        height: 90vh;
        margin: 5vh auto;
        background-color: rgb(255, 255, 255);
        padding: 20px 20px;
        @include borderR();

        .iClose {
            padding: 1vh;
            width: 5vh;
            background: none;
            border-radius: 50%;
            border: none;
            position: absolute;
            right: 5px;
            top: 10px;

            &:hover {
                background: darken($bgGray, 5%);
            }

            #closeFdList {
                cursor: pointer;
            }
        }

        .header {
            .pic {
                canvas {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }

        .friend-search {
            box-sizing: border-box;
            width: 100%;
            margin: 10px 0;
            padding: 5px 10px;
            color: $textBlack;
            @include borderR();
            outline: none;
            border: 1px solid darken($mainYellow, 10%);

            &:focus {
                border: 2px solid $mainYellow;
            }
        }

        >ul {
            display: block;
            width: 100%;
            height: 35vh;
            margin-top: 5px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: rgb(209, 209, 209);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(235, 235, 235);
            }


            li {
                display: block;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                @include borderR();

                &:hover {
                    background: rgb(245, 245, 245);
                }

                .user {
                    display: flex;
                    align-items: center;
                }

                >span {
                    display: block;
                }

                .headshot {
                    margin-right: 15px;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    object-position: center center;
                    border-radius: 50%;
                }

                .send {
                    font-size: 12px;
                }

                .send.mailed {
                    background: $bgGray;
                    color: $textBlack;
                    cursor: auto;
                }
            }

            li+li {
                margin-top: 10px;
            }
        }

    }
}

@media screen and (max-width:1199px) {
    .customized-card {
        flex-direction: column;

        .wrap-preview {
            width: calc(100% - 20px);
            margin: 0 10px;

            .card-preview {
                width: 100%;
                height: auto;
                padding: 0;
                margin: 0;

                .pic {
                    width: 100%;
                    padding: 10px 10px 50px 10px;

                    .inputText {
                        width: 100%;
                        margin: 0;
                        overflow: hidden;
                        font-size: 3px;
                        color: $textBlack;
                        white-space: pre;
                    }

                    .stickerPos {
                        display: none;
                    }
                }
            }

            .write {
                display: none;
            }
        }

        .wrapper {
            width: calc(100% - 20px);
            flex-direction: column;

            .tag-wrapper {
                flex-direction: row;
                background-color: chartreuse;
                width: calc(100% - 20px);
                margin: 0 10px;

                >span {
                    border-radius: 0 0 0 0;
                    margin-bottom: 0;
                    padding: 10px 5px;

                }
            }

            .wrap-pattern {
                width: 100%;


                .card-pattern {
                    width: 100%;

                    box-sizing: border-box;
                    height: 200px;
                    overflow-x: hidden;

                    .pic {
                        margin: 10px auto;
                        width: 90%;
                        flex-shrink: 0;
                    }
                }

                .sticker {
                    width: 100%;
                    height: 200px;



                    .pic {
                        flex-shrink: 0;
                    }
                }

            }
        }

        .sendCardLayer {
            z-index: 1000;

            .sendCard {
                width: calc(100% - 20px);

                .iClose {
                    display: block;
                }
            }
        }
    }
}