@import './style';
a{text-decoration: none;
    color: #025A78;}
  li{list-style: none;}
  .title {
      text-align: center;
      color: #025A78;
      margin: 10px;
  }

 

  .item{
    margin: 10px;
  }
  .item img{
    border-radius: 10px;
  }
    .insta-item{
      margin: auto;
      max-width: 1200px;
      
    }
  
    .insta-item-i{
      background-color: #FFF9D6;
      border-radius: 10px;
      margin-top: 10px;
      position: relative;
      padding-bottom: 10px;
    }
  
    .insta-item-me{
      display: flex;
      margin: 10px;

    }
  
    .insta-item-me img{
      width:50px;
      border-radius: 90%;
    }
  
    .me{
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
    }
    .comment-item{
      display: flex;
      align-items: center;
      position: relative;
      margin: 10px;
    }
  
   .warn-box{
    position: absolute;
    bottom: 0;
    right: 0;
     
   }
  
   .warn-btn{
     border: 0px;
     color: #025A78;
   }
  
    .container{
      max-width: 1200px;
      margin: auto;
      position: relative;
      z-index: 0;
    }
   
    .ul{
      max-width: 1000px;
    }
  
    .insta-item-commend{
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      background-color: #F3F3F3;
      border-radius: 10px;
      
    }
  
    .commend{
      text-align: center;
      padding: 20px;
    }
  
    .insta-item-text{
      text-align: center;
      margin: auto;
      
    }
  
    .message{
      width: 98%;
      margin-top: 50px;
      height: 100px;
      resize: none;
      background-color: #FFF9D6;
      border-radius: 10px;
      padding: 10px;
    }

    .wordsNumber{
      display: flex;
      justify-content: flex-end;
    }
    ::placeholder{
      padding: 5px;
    }
  
    .insta-item-submit{
      display: flex;
      justify-content: center;
      margin: 10px;
    }
  
  
    .sub{
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #FFF9D6;
    width: 100px;
      border: none;
    }

    ::placeholder{
      padding: 5px;
    }
    
    .insta-item-text-i{
     width: 100%;
     background-color: #FFF9D6;
     resize: none;
     height: 100px;
     border-radius: 10px;
     margin-top: 10px;
    }

    textarea{
      resize: none;
      background-color: #F3F3F3;
      border-radius: 10px;
    }

    .screen{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color:rgba(0, 0, 0, 0.794);
      display: none;
  }

  .screen-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 10px;
  }

  .screen-form{
    margin: 20px;
 
  }

  .screen-form h2{
    text-align: center;
    background-color: none
    ;
  }

  .Num{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
  }
  
    @media only screen and (max-width: 1024px){

      .search-item{
        padding: 10px;
      }
      .insta-item{
        padding: 10px;
      }
      .message{
        width: 95%;
        margin-top: 50px;
        height: 100px;
        resize: none;
        background-color: #FFF9D6;
        border-radius: 10px;
        padding: 10px;
      }

      .comment-item{
        position: relative;
      }
      
    }


  