@import './style';


a{text-decoration: none;}
li{list-style: none;}
h2{
    color: #025A78;
}
 .talk{
    text-align: center;
    color: $mainBlue;
 }

 .title-item{
     color: $mainBlue;
 }

 .title{
     color: $mainBlue;
 }
 .search-item{
    display: block;
    max-width: 1080px;
    margin: auto;
    position: relative;
}
.search-article{
    margin: auto;
    width: 100%;
    display: block;
    background-color: #fff9d6;
    height: 50px;
    font-size: $h2;
    border: none;
    border-radius: 10px;
}
 .search-item .search-icon{
position: absolute;
right: 15px;
top: 15px;
bottom: 0px;
margin: auto;
}

.search-item .search-icon{
    background-color: #fff9d6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

::placeholder{
    padding: 5px;
}

.insta-sm-box{
    display: none;
}
.tager-box{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: calc(100vw - 10%);
    height: 100px;
    background-color: #fff9d6;
    border: 1px solid #025A78;
    display: block;
    border-radius: 10px;
}

.tager-box h2{
    margin-top: 10px;
    text-align: center;
    color: #025A78;
}

.tagers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.sort-box h2{
    margin-top: 10px;
    text-align: center;
    color: #025A78;
}

.sort-box{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: calc(100vw - 10%);
    height: 150px;
    background-color: #fff9d6;
    border: 1px solid #025A78;
    display: block;
    border-radius: 10px;
}
.s-tag{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.datetime-box h2{
    margin-top: 10px;
    text-align: center;
    color: #6B879D;
}
.datetime-box{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: calc(100vw - 10%);
    height: 150px;
    background-color: #fff9d6;
    border: 1px solid #6B879D;
    display: block;
    border-radius: 10px;
}
.datetime-tag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

.insta-item{
    width: 100%;
    display: flex;
    justify-content: center;
    
}


.insta-item-main-i{
    max-width: 800px;
    background-color: #F3F3F3;
    display: flex;
    position: relative;
    border-radius: 10px;
    @include shadow();
    margin: 10px 0px;
    margin-left: 10px;
}

.btnBlue{
    text-align: center;
}


.box-i{
    display: flex;
}

.pic{
    width: 150px;
}
.pic img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

.me{
    display: flex;
    margin-top: 20px;
}

.me img{
    width: 50px;
    border-radius: 90%;
}

.left-i{
    max-width: 400px;
    padding: 10px;
}
.center-i{
max-width: 400px;
margin:  10px;
}


.box-i-2{
   margin: auto;
}

.right-i{
    display: flex;
    padding: 10px;
}

.comment-item{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 10px;
    text-align: center;
    background-color:#fff;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    
}

.comment-item i{
    margin: 10px;
}
.comment-item p{
    text-align: center;
    margin: 0px;
}
.date-time{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.seemore{
    display: flex;
    justify-content: end;
}


.insta-item-sub{
    max-width: 270px;
    margin: 0px 10px;
}

.tag-box{
    background-color: #fff9d6;
    border-radius: 10px;
    margin: 10px 0px;
}


.tag-box .tag{
display: flex;
justify-content: center;
}

.tag-box h2{
    text-align: center;
}

.tagers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tag-box span{
    margin: 10px;
}

.tag{
    display: flex;
}

.tag input{
    margin-top: auto;
    margin-bottom: auto;
}

.screen{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.794);
    display: none;
  
}


.btn-boxY{
    display: flex;
    justify-content: center;
}
.screen-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%,-50%);
  background-color: #025A78;
  border-radius: 10px;
  max-width: 550px;
}

.screen-form{
    position: relative;
}

.leave-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.leave{
    padding: 10px;
    border-radius: 10px;
    background-color: #fff9d6;
    border: none;
    color: #025A78;
}
.section-all{
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.section{
   margin: 10px;
   color: #F3F3F3;
   padding: 10px;
   
}
.group-title{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.cute-text{
    border: none;
    background-color: #fff9d6;
    height: 30px;
    border-radius: 10px;
}


.group-tag{
    margin: 10px 0px;
}

.group-text{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;

}

textarea{
    resize: none;
    background-color: #fff9d6;
    border-radius: 10px;
}


.fix-btn{
    display: none;
}

.link{
    display: flex;
    justify-content: center;
}

.link a{
    margin: 10px;
    border:1px solid #6B879D;
    border-radius: 100px;
    padding: 10px;

}

.btn-boxA{
  display: flex;
  justify-content: center;
}

.plus-box button{
    width: 50px;
    height: 50px;
}

.pic-box{
    width: 230px;
    height: 270px;
    background-color: #fff9d6;
    border-radius: 10px;
}

.link a:hover{
    background-color: #6B879D;
    color: #fff;
}

.btn-boxA{
    display: flex;
    justify-content: center;
}

.tager{
    color: #6B879D;
}
@media only screen and (max-width: 1024px){

    .search-item{
        display: block;
        max-width: 1080px;
        margin: auto;
        position: relative;
    }
    .search-article{
        margin: auto;
        width: 100%;
        display: block;
        background-color: #fff9d6;
        height: 50px;
        font-size: $h2;
        border: none;
        border-radius: 10px;
    }
     .search-item .search-icon{
        position: absolute;
        right: 15px;
        top: 20px;
        bottom: 0px;
        margin: auto;
    }
    
    .search-item .search-icon{
        background-color: #fff9d6;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

.search-item{
    margin-left: auto;
    margin-right: auto;
}
.insta-item-sub{
    display: none;
}

.title-item{
   text-align: center;
}
.insta-item-main-i{
    max-width: 900px;
    border: 1px solid #6B879D;
    background-color: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    margin: 30px;
    
}

.box-i{
    flex-direction: column;
}

.box-i-2{
    flex-direction: column;
   

}


.insta-item-main-me{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.fix-btn{
   margin-left: auto;
   margin-left: auto;
    display: block;
    position: fixed;
    top:85%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

.link a{
    margin: 10px;
    border: none;
    border-radius: 100px;
    padding: 0px;
}

.date-time{
    display: flex;
    justify-content: center;
}

.screen-wrapper{
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb{
    background-color: $bgGray;
      @include borderR(10px);
    }
  }

  .insta-sm-box{
    display: block;
}

.pic{
    width: 100%;
}

}
