@import './style.scss';

/*page start*/
h2,
h3 {
    color: $mainBlue;
}


// slider
.slider {
    margin: 10px;

    .owl-carousel {
        position: relative;

        .owl-item {


            img {
                height: 500px;
                object-fit: cover;
            }
        }

        .owl-nav {

            .owl-prev,
            .owl-next {
                position: absolute;
                display: flex;
                top: 50%;
                margin: 0;
                transform: translateY(-50%);

                >span {
                    display: inline-block;
                    font-size: 80px;
                    color: white;
                    padding-bottom: 10px;
                }
            }

            .owl-prev {
                left: 0;
            }

            .owl-next {
                right: 0;
            }
        }

        .owl-dots {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
        }
    }
}

// 內容
.main {
    display: flex;
    position: relative;

    article {
        width: 75%;

        .desc,
        .plan {

            .title {
                background-color: $bgYellow;
                @include borderR();
                margin: 10px;
            }

            .content {

                @include borderR();
                margin: 0 30px;


            }
        }

        .desc {
            #report {
                text-align: right;
                >span{
                    cursor: pointer;
                }
            }
        }

        .plan {
            .timeline {
                margin: 0px 30px 0px 30px;
                padding: 0 10px;

                .day {
                    padding: 20px 0;
                    font-size: 20px;
                    font-weight: bold;
                    color: $mainBlue;
                }

                .item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;

                    .node {
                        flex-shrink: 0;
                        z-index: 1;
                        width: 60px;
                        height: 60px;
                        background-color: $mainBlue;
                        border-radius: 50%;

                        span {
                            display: inline-block;
                            width: 100%;
                            line-height: 60px;
                            text-align: center;
                            color: white;
                        }

                    }

                    p {
                        box-sizing: border-box;
                        width: calc(50% - 50px);
                        background-color: $bgGray;
                        padding: 10px 30px;
                        @include borderR();
                        margin-left: -20px;
                        z-index: 0;

                    }
                }
            }
        }

        hr {
            margin: 15px;
            height: 1px;
            background-color: rgb(225, 225, 225);
            border: none;
        }

        .sub-info {
            display: flex;
            flex-wrap: wrap;
            margin: 0px 30px;
            color: $textBlack;
            font-size: 14px;

            .block {
                box-sizing: border-box;
                width: calc(25% - 20px);
                height: 80px;
                margin: 10px;
                padding: 10px;
                @include borderR();
                background-color: rgb(242, 242, 242);
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 40px;
                }

                span {
                    margin: auto;
                }
            }
        }
    }

    aside {
        width: 25%;
        margin: $margin;

        .info {
            position: sticky;
            top: 10px;
            border: 1px solid $shawdowGray;
            @include borderR();
            padding: 10px;
            background-color: white;


            .info-wrap {
                // display: none;
                border-bottom: 1px solid $shawdowGray;
                padding-bottom: 10px;

                .header {
                    display: flex;
                    align-items: center;

                    h3 {
                        font-size: 24px;
                    }

                    button {
                        display: none;
                    }
                }

                .info-item {
                    display: flex;
                    align-items: flex-start;

                    .pic {
                        width: 30px;
                        object-fit: cover;
                        flex-shrink: 0;
                        margin-top: 1px
                    }

                    p {
                        padding: 5px;
                        color: $linkBlue;
                        font-weight: bold;


                        small {
                            display: block;
                            font-weight: normal;
                            font-size: 14px;
                            color: $textBlack;
                        }
                    }
                }
            }

            .registered {
                text-align: right;
                font-size: $font-3;

            }

            .sign-up {
                display: flex;
                align-items: center;
                justify-content: center;

                padding-top: 10px;

                .btnBlue {
                    border: none;
                    width: 90%;
                }

                >.pic {
                    width: 40px;
                    margin-left: 10px;
                }
            }
        }
    }


    // 留言區
    .comment {
        .wrap {
            margin: 20px;
            @include borderR();

            .wrap-item {
                background-color: rgb(242, 242, 242);
                border-radius: 10px;
                padding: 10px;
                margin: 20px;

                .user {
                    display: flex;
                    align-items: center;

                    >.pic {
                        border-radius: 50%;

                        >img {
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                        }
                    }

                    span {
                        margin-left: 10px;
                        font-weight: bold;
                    }
                }

                p {
                    margin-top: 0;
                    margin-left: 60px;
                    padding: 0;
                    margin-bottom: 10px;
                }

                >time {
                    display: block;
                    text-align: right;
                    font-size: 13px;
                    color: #aaa;
                }
            }
        }

        .leave-comment {
            margin: 0 40px;

            form {
                width: 100%;

                textarea {
                    width: 100%;
                    box-sizing: border-box;
                    @include borderR();
                    resize: none;
                    font-size: 18px;
                    padding: 10px;
                    color: $textBlack;
                    border: 1px solid $shawdowGray;

                    &:focus {
                        border: 1px solid $textBlack;
                    }
                }

                .btn-pos {
                    text-align: right;


                    .btnBlue {
                        width: 100px;
                    }
                }


            }
        }
    }

}


// 類似活動
.similar,
.same-loc {
    display: flex;
    flex-wrap: wrap;

    .card {
        >.pic {
            img {
                height: 200px;
                object-fit: cover;
            }
        }
    }
}

.reportLayer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.309);
    display: none;


    .reportContent {

        width: 30vw;
        padding: 10px 20px;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 10px;
        background-color: $mainBlue;
        text-align: center;

        h2 {
            color: $mainYellow;
        }

        textarea {
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            border-radius: 10px;
        }

        #rpCancel {
            background-color: white;
        }

    }
}

@media screen and (max-width:768px) {
    .main {
        display: block;

        article,
        aside {
            width: 100%;
            margin: 0;
        }

        article {
            .plan {
                .timeline {


                    .item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;

                        .node {
                            flex-shrink: 0;
                            z-index: 1;
                            width: 60px;
                            height: 60px;
                            background-color: $mainBlue;
                            border-radius: 50%;

                            span {
                                display: inline-block;
                                width: 100%;
                                line-height: 60px;
                                text-align: center;
                                color: white;
                            }

                        }

                        p {
                            width: 100%;
                        }
                    }
                }
            }

            .sub-info {
                .block {
                    width: calc(50% - 20px);
                }
            }
        }

        aside {
            position: fixed;
            bottom: 0;
            margin: 0;
            z-index: 50;

            .info {
                background-color: white;
                border-radius: 10px 10px 0 0;

                .info-wrap {
                    .header {
                        justify-content: space-between;

                        h3 {
                            padding-left: 10px;

                        }

                        button {
                            display: block;
                            background-color: transparent;
                            border: none;
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }
                    }
                }

            }


        }
    }


    .similar,
    .same-loc {
        margin-bottom: 50px;

        .card {
            width: calc(50% - 20px);

            h3 {
                font-size: 16px;
                text-align: justify;
            }

            p,
            time {
                font-size: 14px;
            }

            .sub {
                // display: block;
                // background-color: red;

                .author {
                    display: none;
                }

                .hot {
                    margin-left: auto;
                }

                span {
                    font-size: 10px;
                }
            }
        }
    }
}