@import 'style';
// @import 'login';

textarea{
    resize: none;
}
input{
    outline: none;
    font-size: $font-5;
}
input::-webkit-calendar-picker-indicator {
    margin: 0;
} 
textarea{
    outline: none;
}
.main_plan{
    .container{
        max-width: 1200px;
        padding: 0 $padding;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .img_group{
            flex: 0 1 600px;
            margin: 20px;
            .pic_show{
                width: 100%;
                height: 500px;
                background-color: rgb(189, 189, 189);
                overflow: hidden;
                display: flex;
                li{
                    flex: 1 0 100%;
                    height: 100%;
                    &:hover{
                        text-decoration: none;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        vertical-align: top;
                    }
                }
            }
        }
        .upload{
                flex: 0 0 60px;
                align-self: center;
                margin-bottom: $margin*2;
            label{
                display: block;
                width: 100%;
                height: 60px;
                border-radius: 50%;
                cursor: pointer;
                background-color: $mainBlue;
                position: relative;
                &::after{
                    content: "+";
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: $font-5;
                    color: $white;
                    text-align: center;
                    transition: all .5s ease-in-out;
                }
                &:hover{
                    &:after{
                        transform: rotate(360deg) scale(2);

                    }
                }
            }
        }
        h3{
            font-size: $font-5;
            @include borderR();
            color: $mainBlue;
            background-color: $subYellow;
            flex: 1 1 1200px;
            height: 50px;
            line-height: 50px;
            margin-bottom: $margin*2 ;
            padding: $padding*.5 $padding;
        }
        .arrange{
            flex: 0 1 550px;
            box-sizing: border-box;
            @include borderR();
            border: 1px solid $bgGray;
            margin: 0 $margin*2.5 $margin*2;
            padding: $padding;
            li{
                font-size: 0;
                height: 50px;
                margin-bottom: $margin*2;
                &:hover{
                    text-decoration: none;
                }
                
                label{
                    font-size: $font-3;
                    width: 20%;
                    height: 50px;
                    line-height: 50px;
                    margin-right: 10px;
                }
                .dic{
                    display: inline-block;
                    font-size: $font-3;
                    height: 30px;
                    line-height: 30px;
                    position: relative;
                    bottom: 5px;
                }
                input{
                    width: 150px;
                    height: 30px;
                    border: none;
                    vertical-align: top;
                    font-size: $p;
                    border-bottom: 1px solid $tagGray;
                    position: relative;
                    top: 5px;
                    // background-color: rgb(139, 181, 201);
                }
                &:nth-child(6){
                    input{
                        width: 30%;
                        // background-color: #faf;
                    }
                } 
                &:nth-child(3), &:nth-child(4), &:nth-child(5){
                    label{
                        display: inline-block;
                        width: 110px;
                    }
                }
                select{
                    width: 50%;
                    height: 100%;
                    vertical-align: top;
                    font-size: $font-2;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .detail{
            flex: 0 1 550px;
            box-sizing: border-box;    
            padding: 20px 10px;
            margin: 0 $margin*2.5 $margin*2;
            border: 1px solid  $bgGray;
            @include borderR();
            position: relative;
            .party_day{
                font-size: $font-4;
                color: $mainBlue;
                width: 45%;
                position: relative;
                &::after{
                    content: "";
                    width: 80%;
                    height: 2px;
                    background-color: $mainBlue;
                    position: absolute;
                    top: 50%;
                    right: 0;
                }  
            }
            .place_group{
                width: 80%;
                height: 450px;
                overflow-y:auto;
                display: none;
                &::-webkit-scrollbar {
                    width: 8px;
                }
                &::-webkit-scrollbar-track {
                    background-color: $bgGray;
                    @include borderR(10px);
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $mainBlue;
                    @include borderR(10px);
                }
                .place{
                    display: flex;
                    align-items: center;
                    margin: 20px;
                    justify-content: center;
                    cursor: pointer;
                    &:hover{
                        text-decoration: none;
                        .delect_place{
                            display: block;
                            flex: 0 0 20px;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            border-radius: 30%;
                            color: $mainBlue;
                            background-color: rgb(243, 155, 149);
                            cursor: pointer;
                        }
                    }
                    .delect_place{
                        display: none;
                    }
                    p{
                        flex: 0 0 80px;
                        height: 80px;
                        padding: 0;
                        border-radius: 50%;
                        color: $white;
                        font-size: $font-3;
                        background-color: $mainBlue;
                        line-height: 80px;
                        text-align: center;
                    }
                    h2{
                        flex: 0 1 300px;
                        font-size: $font-3;
                        height: 50px;
                        line-height: 50px;
                        margin-left: 5px;
                        padding: 0;
                        position: relative;
                        color: $mainBlue;
                        &::after{
                            content: "";
                            width: 100%;
                            height: 50px;
                            background-color: $shawdowGray;
                            position: absolute;
                            @include borderR();
                            top: 0;
                            left: -30px;
                            z-index: -1;
                        }
                    }
                }
                .add_place{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $mainBlue;
                    margin: auto;
                    cursor: pointer;
                    p{
                        height: 30px;
                        line-height: 30px;
                        padding: 0;
                        text-align: center;
                        color: $white;
                        transition: transform .5s ease-in-out;
                    }
                    &:hover{
                        text-decoration: none;
                        p{
                            transform: scale(1.5) 
                            rotate(360deg);

                        }
                    }
                }
                .delect_places{
                    width: 80px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 25px;
                    color: $white;
                    background-color: $tagGray;
                    cursor: pointer;
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                }
            }
            .place_group_show{
                display: block;
            }
            .day_lists{
                color: $mainBlue;
                width: 50px;
                text-align: center;
                position: absolute;
                top: 0px;
                right: 0px;
                li{
                    height: 50px;
                    background-color: $bgGray;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    overflow: hidden;
                    cursor: pointer;
                    p{
                        font-size: $font-1;
                        height: 50px;
                        line-height: 50px;
                        padding: 0;
                        text-align: center;
                        transition: transform .5s ease-in-out;
                    }
                    &:hover{
                        text-decoration: none;
                        background-color: $shawdowGray;
                        p{
                            transform: scale(1.5);
                        }
                    }
                }
                .add_day{
                    &:hover{
                        p{
                            transform: scale(2) rotate(360deg);
                        }
                    }
                }
                .day_list_active{
                    background-color: $shawdowGray;
                    p{
                        transform: scale(1.5);
                    }
                }
            }
        }
        .write{
            flex: 1 1 1200px;
            position: relative;
            textarea{
                box-sizing: border-box;
                width: 100%;
                padding: 10px;
                font-size: $font-3;
                height: 300px;
                @include borderR();
                border: 1px solid $bgGray;
            }
            .limit_words{
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
        .btnBlue{
            display: flex;
            margin: 20px auto;
            padding: 15px 20px;
            border: none;
            font-size: $font-4;
            .pic{
                width: 30px;
                margin-left: 5px;
                img{
                    width: 100%;
                    vertical-align: top;
                }
            }
        }
    }
    
}

//external-modal
.modal-background{
    width: 100%;
    height: 100%;
    background-color: rgba(88, 73, 47, 0.541);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    .external-modal{
        max-width: 500px;
        padding: $padding*5;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include borderR();
        background-color: $mainBlue;
        p{
            width: 100%;
            padding: 0;
            font-size: 0;
            span{
                font-size: $font-4;
                color: $white;
                display: inline-block;
                height: 40px;
                line-height: 40px;
            }
            input{
                height: 40px;
                margin: $margin;
                border: none;
                text-indent: 5px;
                @include borderR();
            }
            &:nth-of-type(1){
                input{
                    font-size: $font-3;
                }
            }
            &:nth-of-type(2){
                input{
                    width: 100%;
                }
            }
            &:nth-of-type(3){
                text-align: center;
                margin-top: $margin*2;
                button{
                    width: 120px;
                    margin: 10px;
                    border: none;
                    font-size: $font-4;
                }
            }
        }
    }    
}


