@import './base/var';
@import './mixin/mixin';

.profile-pic{
    width: 150px;
    height: 150px;
    margin: 20px;  
}
.profile-pic img{
   width: 100%;
   height: 100%;
   object-fit: cover; 
   @include borderR(50%);
}
.personal-info h3{
  font-size: $h2;
  padding-top: 50px;
}
.info{
    display: flex;
}
.more-info{
  display: flex;
  width: 65%;
  margin: 20px auto;
  justify-content: space-between;
}
.change-forms{
  display: none;
  &.open{
      display: block;
      width: 87%;
      margin: auto;
  }
}
.tab-for-out{
  display: flex;
  width: 25%;
  text-align: center;
  margin:  20px auto;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: $linkBlue;
  font-size: $h2;
  font-weight: bold;
}
.aboutMe{
  color: $linkBlue;
}
.aboutMe.active{
  color: $mainBlue;
}
.main-background{
  background-color: $bgGray;
  margin:auto;
  padding: 20px 0 100px;
  margin-bottom: 50px;
  @include borderR();
}
.activity-nums{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.statistics p{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  font-size: $h2;
  color: #000;
}
.hobby-tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hobby-tags>p{
  background-color: $white;
  margin: 0 10px;
  font-size: $font-3;
  font-weight: bold;
  @include borderR;
}
.introduction{
  width:60%;
  margin: 50px auto;
  font-size: $font-3;
  line-height: 2em;
}
.change-rates{
  margin: auto;
}
.my-groups>p{
  color: $mainBlue;
  font-size: $font-5;
  font-weight: bold;
}
.ongoing{
  display: flex;
  background-color: $bgGray;
  margin: 10px 0px 30px 10px;
  @include borderR;
}
.activity-pic{
  width: 30%;
}
.activity-pic>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.deadline{
  color: red;
}
.finished{
  width: 30%;
  color: $mainBlue;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../dist/images/photo/paint.png);
  margin-left: auto;
  position: relative;
}
.paint-back{
  position: relative;
}
.finished-text{
  width: 130px;
  font-size: $h1;
  transform: rotate(-25deg);
  position: absolute;
  top: 40%;
  left: 30%;
  margin: auto;
  font-weight: bold;
}
// 評價
.change-rates{
  display: none;
  &.open{
      display: block;
  }
}
.RatingSection{
  display: flex;
  justify-content: space-evenly;
  background-color: #FFF3A9;
  padding: 12px;
  border-radius: 10px 10px 0 0 ;
}
.Ratings{
  font-size: $h3;
  background-color: #FFF3A9;
  width: 50%;
}
.Ratings.active{
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.opening-rating{
  display: flex;
  justify-content: space-around;
  background-color: #FFF3A9;
  border-radius: 0 0 10px 10px;
}
.des-numbers{
    width: 100px;
    font-size: 50px;
    padding: 60px 0 0 20px;
    font-weight: bold;
}
.bars{
    width: 60%;
    padding-left: 20px;
}
.rating-stars{
    margin: 20px 0;
}
.rating-stars span {
    color: black;
    margin: 2px;
}
.new-ratings{
    font-size: 25px;
    color: #025A78;
    display: inline;
}
.new-ratings-title{
    width: 30%;
    margin: auto;
    text-align: center;
}
.second-bar{
    padding: 2px 130px;
    background-color: #fff;
}
.comment-background{
  background-color: #F3F3F3;
  display: flex;
  margin: auto;
  margin: 30px 0;
}
.comment-pics{
  width: 80px;
  height: 80px;
  margin: 20px;  
}
.comment-pics>img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    @include borderR(50%);
}
.comment-per-info{
    width: 80%;
    padding: 30px 30px 30px 0;
    line-height: 2em;
    flex-grow: 1;
}
  .new-ratings-title{
    margin-top:20px;
  }
  .MyInfo{
    max-width:1200px;
    display: flex;
    align-items:center;
    margin:50px auto;
    justify-content: center;
  }
  .nameAndInfo {
    margin: 47px auto;
    font-family: monospace;
    text-align: center;
  }
  .location{
    line-height:2em;
  }
  .ContentInfo {
    width: 50%;
    color: white;
    background-color: #025A78;
    border-radius: 10px 0 0 10px;
  }
  .placeImage {
    width: 50%;
    background: 
    linear-gradient(-57deg, #FFF3A9 63%, #025A78 42%);
    color: white;
    padding: 40px 42px 43px 42px;
    border-radius: 0 10px 10px 0;
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #FFF3A9;
  }
  .image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .color-secondary, a {
    color: #F0DA50;
    text-decoration: none;
  }
  .contact-link {
    padding: 10px;
    background: #F3F3F3;
    border-radius: 5px;
    font-family: monospace;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin: 5px;
    
  }
.friend-control{
  padding-top:32px;
  margin:auto;
  text-align:center;
}
.joining-title{
  font-weight: bold;
  font-size: $font-4;
}
.star-icon{
  display: none;
}
@media (max-width: 960px) {
  .out-wrapper{
    width: 100%;
  }
  .MyInfo{
    width: 100%;
    flex-direction: column;
    background: linear-gradient(
      8deg
      , #FFF3A9 0%, #025A78 53%);
    margin:0 auto;
  }
  #About-Me{
    margin: 0;
    width: 100%;
  }
  .main-background{
    width: 100%;
    border-radius: 0;
  }
  .nameAndInfo{
    margin:0 auto;
  }
  .ContentInfo {
    width: 100%;
    padding: 35px 0 0 0;
  }
  .placeImage {
    width: 100%;
    background: linear-gradient(
      22deg
      , #FFF3A9 59%, #025A78 5%);
    color: white;
  }
  .image {
    margin-left: 13%;
  }
  .tab-for-out{
    width: 100%;
    margin:  20px auto;
    font-size: $font-4;
  }
  .more-info{
    width: 100%;
  }
  .change-forms{
    width: 80%;
  }
  .hobby-tags > p {
    margin: $margin;
  }
  .statistics p {
    margin: 0 20px;
  }
  .joining-title{
    text-align: center;
    font-size: 18px;
  }
  .ongoing{
    flex-direction: column;
    margin: 30px auto;
  }
  .activity-pic{
    width: 100%;
  }
  .activity-pic> img{
    border-radius: 10px 10px 0 0;
  }
  .finished-text{
    font-size: 28px;
    top: 25%;
    left: 1%;
  }
  .second-bar{
    display: none;
  }
  .opening-rating{
    flex-direction: column;
  }
  .bars{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: 0;
  }
  .des-numbers{
    margin: $margin auto;
    padding: 0;
  }
  .star-icon{
    display: inline-block;
  }
  .new-ratings-title{
    width: 100%;
  }
  .comment-background{
    margin: 30px auto;
    @include borderR
  }
  .comment-pics{
    width: 100px;
    height: 80px;
    margin: 20px;
  }    
  .change-forms.open{
    width: 90%;
  }
  .activity-info{
    padding:5px;
  }
  .change-rates{
    width: 100%;
  }
  .friend-control{
    width: 100%;
    padding-top: 0;
  }
}
  