@import './base/var';
@import './mixin/mixin';
.whiteBackground{
    background-color: $lightboxcolor;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
}
.self-wrapper{
    width: $layoutwidth;
    display: flex;
    @include center();
}
.Info-wrapper{
    width: 75%;
}
.check-info{
    width: 25%;
    padding-bottom: 50px;
}
.self-wrapper{
    width: 80%;
}
.profile-card{
    @include center(20px);
    background: linear-gradient(149.44deg, #FFEB6F 0%, rgba(255, 247, 203, 0.49) 98.11%);
    @include borderR();
    padding-bottom: 50px;
}
.show-card{
    width: 30%;
    @include center(20px);
    background: linear-gradient(149.44deg, #FFEB6F 0%, rgba(255, 247, 203, 0.49) 98.11%);
    @include borderR();
    margin: 20px 10px;
}
.edit-wrapper{
    width: 50px;
    text-align: end;
    margin-left: auto;
    padding: 10px 10px 0 0;
    position: relative;
}
.edit{
    font-size: $font-3;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include center();
    color: $tagGray;
    opacity: .5;
}
.self-pic{
    width: 100px;
    height: 100px;
    @include center();
}
.self-pic img{
  @include borderR(50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name{
    color:$mainBlue;
    text-align: center;
    font-weight: bold;
}
.purse{
    display: flex;
    justify-content: center;
}
.diamond{
    display: flex;
    align-items: center;
    margin-right: $margin;
}
.diamond img{
    width: 30px;
}
.coin{
    display: flex;
    align-items: center;
}
.coin img{
    width: 30px;
}
.check-self{
    width: 185px;
    margin: $margin auto;
    text-align: center;
}
.no-border{
    border:none;

}
.main-tabs{
   text-align: center;
}
.tabs>a{
    width: 200px;
    display: inline-block;
    font-size: $font-2;
    padding:30px 0;
    color: $mainBlue;
    border: none;
    background-color: transparent;
    @include center();
}
.tabs:hover{
    background: linear-gradient(90deg, #FFF3A9 1.82%, rgba(255, 250, 219, 0.53) 98.46%);
    transition: background-color 2s ;
}
.self-info{
    margin: 50px 0 0 30px;
    display: none;
    &.open{
        display: block;
    }
    &.fade{
        -webkit-animation: opac 0.8s;
        animation: opac 0.8s;
    }
}
.self-info h2{
    font-size: $h2;
    color: $mainBlue;
    padding: 0;
    margin-bottom: 20;
    font-weight: bold;
}
.self-info h2 span{
    font-size: $h1;
}
.self-info>p{
    font-size: $font-3;
    font-weight: bold;
}
.section-title{
    box-shadow: 0.3em 0.3em 5px rgb(240, 236, 236);
    @include borderR();
}
.second-tabs{
    display: flex;
    margin-bottom: 50px;
    padding:30px;
    border-bottom: 2px solid $bgGray;
    border-right: 2px solid $bgGray;
}
.second-tabs li{
    margin-right: 30px;
    border-radius: 20px;
    height: 10px;
}
.second-tabs button{
    color: $pageBlue;
    background-color:transparent;
    border: none;
    font-size: $font-3;
}
.second-tabs .all{
   background-color: $mainYellow;
   color: $mainBlue;
   font-weight: bold;
}
.activity{
    display: flex;
    background-color: $bgGray;
    padding: $padding;
    @include borderR();
    margin-bottom: $margin;
}
.activity-info h4{
    font-size: $font-1;
    color: $mainBlue;
    font-weight: bold;
}
.activity-info P{
    color: $textBlack;
    font-size: $p;
}
.activity-pic{
    width: 40%;
}
.activity-pic img{
    width: 100%;
    @include borderR();
}
.activity-btn{
    width: 25%;
    margin-left: auto;
    padding-top: 80px;
    text-align: end;
}
.btnYellow{
    text-align: center;
}
.friend-list h2{
    display: inline-block;
}
.friend-card-list{
    display: flex;
    flex-wrap: wrap;
}
.girl-card{
    background: linear-gradient(149.44deg, #F3B5BA 0%, rgba(233, 199, 216, 0.24) 98.11%);
    padding-bottom: 0;
}
.boy-card{
    background: 
    linear-gradient(149.44deg, #B4CEEF 0%, rgba(247, 251, 255, 0.49) 98.11%);
    padding-bottom: 0;
}
.setting{
    font-size: $h3;
    opacity: .3;
    cursor: pointer;
    padding: 10px 0 0 5px;
}
.interact{
    width: 200px;
    text-align: center;
    margin: 20px auto;
}
.profile i,.chat i,.mail i{
    font-size: $font-3;
    margin: 0 10px;
}
.article-time{
    margin-top: 30px;
}
.friend-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.friend-title span{
   font-size: $font-3;
}
.search-friend{
    position: relative;
    margin-left: auto;
}
.search-friend input{
    width: 150px;
    height: 30px;
    font-size: $font-3;
    padding-left: 30px;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    @include borderR();
}
.search-btn{
    border: none;
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 6px;
    font-size: $font-4;
    background-color: #fff;
    opacity: .5;
}
.tabs-for-a.active {
    background: linear-gradient(90deg, #FFF3A9 1.82%, rgba(255, 250, 219, 0.53) 98.46%);
    width: 100%;
}
.edit-friend i{
  font-size: $h2;
  margin: 10px;
}
.selectMenuForCell {
    display: none;
}
.second-tabs-for-phone{
    display: none;
}
.activity-part-one{
    display: flex;
}
.friend-del-black{
    display: none;
}
.openControl{
    display: block;
    width: 100px;
    background-color: $white;
    position: absolute;
    right:5px;
    padding: 5px $padding;
    @include borderR();
}
.del-friend,.blackList-friend{
    display:block;
    padding: 5px;
    border: none;
    background-color: $white;
    cursor: pointer;
    width: 95px;
}
.del-friend,.blackMemList:hover{
    background-color: $bgYellow;
}
.blackList-friend:hover{
    background-color: $bgYellow;
}
.setting{
    background-color: transparent;
    border: none;
}
.settingForBlack{
    position: relative;
}
.blackList{
    width: 100px;
    height:50px;
    padding: 10px;
    border: none;
    background-color: $white;
    position: absolute;
    z-index: 100;
    display: none;
    top: 30px;
    @include borderR();
    @include shadow(5px);
}
.blackList button{
    background-color: transparent;
    border: none;
    font-size: 18px;
}
.openBlackList{
    display: block;
}
//評價團員
#layerRatingContainer,#layerRatingHost,#layerBlackContainer{
    background-color: rgba(230, 230, 230, 0.801);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    margin: auto;
    display: none;
  }
.ratingContainer{
    width: 70vw;
    background-color: $mainBlue;
    text-align: center;
    padding: 20px 0;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    overflow-y: scroll;
}
  .ratingContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #025A78;
  
  
  }
  .ratingContainer::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: #025A78;
  
  
  }
  .ratingContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #FFF3A9;
  }
.blackContainer{
    width: 60vw;
    height: 80vh;
    background-color: #025A78;
    text-align: center;
    padding: 40px 0;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    border-radius: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}
.star-widget input{
    margin: auto;
    display: none;
}
.star-widget label{
    font-size: 25px;
    color:#444;
    padding:50px 5px 0 5px;
    float: right;
    transition: all 0.2 ease;
}
.star-widget input:not(:checked)~label:hover,
.star-widget input:not(:checked)~label:hover ~ label{
    color: #fd4;
    cursor: pointer;
}
.star-widget input:checked~label{
    color: #fd4;
}
.star-widget-wrapper{
    width: 210px;
}
.rating-form{
    background-color: #fff;
    border: 1px solid black;
    width: 65%;
    border-radius: 10px;
    margin: auto;
}
.ratingHost{
    font-weight: bold;
    margin-right: auto;
    padding: 30px 0 10px 5px;
    color: $white;
}
.rating-textarea{
    height: 50px;
    width: 85%;
    overflow: hidden;
    border-radius: 10px;
}
.rating-textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color:#444;
    padding: 5px;
    font-size: 18px;
    resize:none;
    border: none;
    background-color: #fff;
}
.countWords{
    width: 30px;
    margin-left: auto;
}
.rating-btn{
    width: 100px;
    margin: 15px auto;
}
.rating-btn button{
    padding: 5px 0;
    width: 100%;
    border-radius: 100px;
    border: none;
    background-color: #FFF3A9;
    cursor: pointer;
}
.wrapperForClose{
    width: 10%;
    margin-left: auto;
}
.close-btn{
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 50%;
    border: none;
    color: #025A78;
    position: absolute;
    top: 5px;
    right: 5px;
}
.activityName{
    position: absolute;
    top: 5px;
    left: 5px;
    color: $white;
}
.titleBackground{
    background-color: #FFF3A9;
}
.titleBackground th{
    padding: 20px 10px;
    font-size: 18px;
}
.rater{
    color: $white;
}
.RatingMemTd{
    padding-bottom: 20px;
}
.ratingMemRow{
    border-bottom: 1px solid black;
}
.activity-page{
    width: 90px;
    display: block;
    text-align: end;
    margin-left: auto;
    padding: 10px 20px;
    text-decoration: underline;

}
//團主評價
.ratingContainerHost{
    width: 60vw;
    height: 80vh;
    background-color: $mainBlue;
    text-align: center;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: scroll;
}
.star-widget-host{
    margin-bottom: 10px;
}
.star-widget-host input{
    display: none;
}
.star-widget-host label{
    font-size: 40px;
    color:#444;
    padding:10px;
    float: right;
    transition: all 0.2 ease;
}
.star-widget-host input:not(:checked)~label:hover,
.star-widget-host input:not(:checked)~label:hover ~ label{
    color: #fd4;
    cursor: pointer;
}
.star-widget-host input:checked~label{
    color: #fd4;
}
.rating-textarea-host{
    height: 200px;
}
@media (max-width: 767px){
    .self-wrapper{
        width: 100%;
    }
    .check-info{
        width: 100%;
        padding: 0;
    }
    .Info-wrapper{
        width:100%;
    }
    .main-tabs{ 
        display: none; 
    }
    .self-info{
        margin: 0;
    }
    .selectMenuForCell { 
        display: block;
        background-color: $bgYellow;
        border: none;
        font-size: $font-5;
        color: $mainBlue;
        font-weight: bold;
        text-align: center;
        width: 100%;
        padding: 10px 0;
        outline: none;
     }
    .profile-card{
        display: none;
    }
    .self-wrapper{
        flex-direction: column;
    }
    .section-title{
        box-shadow: none;
        border: none;
    }
    .second-tabs-for-phone{
        display: block;
    }
    .second-tabs{
        border: none;
        padding:0;
        margin: 20px auto;
        width: 55%;
    }
    .second-tabs li{
      margin: 10px;
    }
    .showButton{
        display: inline-block;
    }
    .self-info h2{
        display: none;
    }
    .activity{
        flex-direction: column;
    }
    .activity-btn{
        width: 100%;
        padding-top: 0;
    }
    .friend-bar{
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 30px;
    }
    .search-friend input{
        width: 200px;
    }
    .friend-card-list{
        display: block;
    }
    .show-card{
        width: 60%;
        margin: auto;
    }
    .search-friend{
        margin:auto
    }
}