.smCircle {
    width: $smCircle;

    .circle {
        border-radius: 50%;
    }
}

.mdCircle {
    width: $mdCircle;

    .circle {
        border-radius: 50%;
    }
}


.lgCircle {
    width: $lgCircle;

    .circle {
        border-radius: 50%;
    }
}