//input form
.login-wrapper {
  width: $formwidth;
  height: 650px;
  background-color: $mainBlue;
  opacity: .8;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  @include borderR;
}

//表單input欄位置中用
.login-form {
  width: $forminputwidth;
  margin: auto;
}

form h1 {
  font-size: $h1;
  text-align: center;
  color: $subYellow;
}

//各項input請用div.group包起來
.group {
  position: relative;
  margin: 45px 0;

}

.input {
  color: $pageBlue;
  font-size: $font-1;
  padding: 25px 10px 10px;
  display: block;
  width: $forminputwidth;
  border: none;
  @include borderR;
}

.input:focus,
textarea:focus {
  outline: none;
}

.input:focus~.shrink,
.input:valid~.shrink,
textarea:focus~.shrink,
textarea:valid~.shrink {
  top: 5px;
  font-size: $font-1;
  color: $pageBlue;
}

.input:focus~.bar:before,
textarea:focus~.bar:before {
  width: $forminputwidth;
}

.shrink {
  color: $pageBlue;
  font-size: $font-2;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 20px;
  transition: 300ms ease all;
}