<header class="sidebar-container">
    <div class="sidebar-logo">
      <img src="../images/logo.png" alt="logo">
    </div>
    <ul class="sidebar-navigation">
      <li>
        <a href="../backstage_admin.html">
          <i class="fas fa-user-cog" aria-hidden="true"></i> 管理員管理
        </a>
      </li>
      <li>
        <a href="../backstage_member.html">
          <i class="fas fa-user-edit" aria-hidden="true"></i></i>會員管理
        </a>
      </li>
      <li>
        <a href="../backstage_sight.html">
          <i class="fas fa-map-marked-alt" aria-hidden="true"></i> 景點管理
        </a>
      </li>
      <li>
        <a href="../backstage_card.html">
          <i class="fas fa-envelope" aria-hidden="true"></i> 卡片管理
        </a>
      </li>
      <li class="header">檢舉審核</li>
      <li>
        <a href="./backstage_greport.php">
          <i class="fas fa-users" aria-hidden="true"></i>  活動檢舉
        </a>
      </li>
      <li>
        <a href="./backstage_preport.php">
          <i class="fas fa-newspaper" aria-hidden="true"></i> 文章檢舉
        </a>
      </li>
    </ul>
</header>
