<header class="main-header">
    
    <input type="checkbox" name="" id="menu-control">
        <h1 class="logo">
            <a href="">
                <img src="https://picsum.photos/100/60"  alt="">
            </a>
        </h1>
     
    
        <!--選單-->
        <nav class="main-nav">
            <a href="second-page.html">揪團趣</a>
            <a href="third-page.html">旅行趣</a>
            <a href="bag-page.html">討論趣</a>
            <a href="fourth-page.html">最HOT團主</a>
            <a href="five-page.html">客製卡片</a>
        </nav>

        <li class="btnall">
        <button class="btn-1">立即開團</button>
        <button class="btn-2">登入/註冊</button>
        </li>

         <!--漢堡-->
         <label for="menu-control" class="hb">
            <span></span>
            <span></span>
            <span></span>
        </label>
</header>